<!DOCTYPE html>
<html lang="en" ng-app="newApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- In production use:
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    -->

    <script src="/assets/libs/angular/angular.js"></script>
    <script src="/assets/libs/angular-animate/angular-animate.js"></script>
    <script src="/assets/libs/angular-resource/angular-resource.js"></script>
    <script src="/assets/libs/angular-sanitize/angular-sanitize.js"></script>
    <link rel="stylesheet" href="/assets/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="./app.modules.js"></script>
    <script src="controllers/searchCtrl.js"></script>
    <script src="services/youTubeService.js"></script>
</head>
<body ng-controller="SearchController as $ctrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">SetSearch</a>
            </div>
            <form name="search" class="navbar-form text-center search-form" ng-submit="$ctrl.videoSearch($ctrl.formData.input)">
                <div class="input-group">
                    <input type="text" name="artist" ng-model="$ctrl.formData.input" class="form-control search-input" required placeholder="Enter Artist Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="player">
        <div class="video-container col-md-8 col-lg-8">
            <iframe ng-src="{{ $ctrl.embed }}" allowfullscreen></iframe>
        </div>

        <div class="video-list-container col-md-8 col-md-4">
            <ul class="list-group">
                <li class="list-group-item" ng-click="$ctrl.activeVideo($index, this)" ng-repeat="result in $ctrl.results" ng-class="{active: $ctrl.active === $index}">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" ng-src="{{ result.snippet.thumbnails.default.url }}">
                        </a>
                      </div>
                      <div class="media-body media-right">
                        <h4 class="media-heading">{{ result.snippet.title }}</h4>
                        <p class="media-description">{{ result.snippet.description }}</p>
                      </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>
